.App {
  text-align: center;
}

.Choice-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

Bar {
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: visible;
}

.Bios-body {
  background-color: black;
  font-size: calc(10px + 2vmin);
  color: white;
}

b {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#bios {
  font-family: Nova Flat;
  margin-left: 20%;
  margin-right: 20%;
}

.bio {
  margin-bottom: 30px;
  /* min-height: 20vw; */
  border-bottom: 3px solid white;
  overflow: hidden;
}

.bio .description{
  font-size: calc(10px + 1.2vmin);
  /* margin-left: 20px; */
  color: #DDDDDD;
}

#bios-title{
  font-size: calc(10px + 8vmin);
  margin-left: 40px;
}

#title{
  font-size: calc(10px + 3vmin);
  margin-left: 40px;
  color: #AAAAAA;
}

.bio a {
  font-size: calc(10px + .7vmin);
  margin-top: 0px;
}

.bio img {
  height: 15vw;
  margin-right: 20px;
  /* margin-left: 20px; */
  /* margin-bottom: 10px; */
}

.imageDiv {
  float: left;
}

.linkText {
  font-size: calc(10px + .2vmin);
  display: block;
}

#waitingDiv {
  background-image: url('images/lacuna_title.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

#waitingDiv {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.grid-container {
  display: grid;
  padding: 10px;
  grid-template-columns: auto auto auto;
}

.grid-item {
  border: 1px solid white;
  padding: 20px;
  /* height: 300px */
}

#closingDiv {
  font-size: calc(10px + 5vmin);
}

#bios-link {
  position: relative;
  top: 200px;
  font-size: calc(10px + 10vmin);
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  overflow: hidden;
}