

@mixin textGlitch($name, $intensity, $textColor, $background, $highlightColor1, $highlightColor2, $width, $height) {

    color: $textColor;
    position: relative;
    $steps: $intensity;

    // Ensure the @keyframes are generated at the root level
    @at-root {
        // We need two different ones
        @for $i from 1 through 2 {
            @keyframes #{$name}-anim-#{$i} {
                @for $i from 0 through $steps {
                    $top: random(100);
                    $bottom: random(101 - $top);
                    #{percentage($i*(1/$steps))} {
                        clip-path: inset(#{$top}% 0 #{$bottom}% 0);
                    }
                }
            }
        }
    }
    &::before,
    &::after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: $background;
    }
    &::after {
        left: 2px;
        text-shadow: -1px 0 $highlightColor1;
        animation: #{$name}-anim-1 4s infinite linear alternate-reverse;
    }
    &::before {
        left: -2px;
        text-shadow: 2px 0 $highlightColor2; 
        animation: #{$name}-anim-2 6s infinite linear alternate-reverse;
    }
}

.glitch {
    font-size: 50px;
    @include textGlitch("glitch", 17, white,  #000000, red, blue, 450, 115);
}


@keyframes horizontal-glitch {
    0%   {transform: translate(-2px, -2px);}
    25%  {transform: translate(0px, 0px);}
    50%  {transform: translate(-2px, -2px);}
    75%  {transform: translate(2px, -2px);}
    100%  {transform: translate(-2px, 2px);}
}




@keyframes glitchy {
    0%   {transform: translate(-2px, 2px);}
    25%  {transform: translate(-2px, -2px);}
    50%  {transform: translate(2px, 2px);}
    75%  {transform: translate(2px, -2px);}
    100%  {transform: translate(-2px, 2px);}
}

// @keyframes glitchy {
//     0%   {transform: translate(-1px, 1px);}
//     25%  {transform: translate(-1px, -1px);}
//     50%  {transform: translate(1px, 1px);}
//     75%  {transform: translate(1px, -1px);}
//     100%  {transform: translate(-1px, 1px);}
// }


.btn-link {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    z-index: 1;
    
    &:before,
    &:after {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &:before {
        background-color: #056937;
        z-index: -1;
    }

    &:after {
        background-color: #b31111;
        z-index: -2;
    }
    
    &:hover {
        .link-inner {
            animation: glitchy 0.3s ease .1;
        }

        &:before {
            animation: glitchy 0.3s ease 0.3s infinite;
        }
        
        &:after {
            animation: glitchy 0.3s ease infinite reverse;
        }
    }
}

.link-inner {
    display: block;
    height: 100%;
    background-color: #fff;
    padding: 15px 25px;
}


// @import url('https://fonts.googleapis.com/css?family=Kanit:800');
// @import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

:root {
  --f-size: 40;
  --f-unit: 1vmin;
  --f: calc(var(--f-size) * var(--f-unit));
  --bg: #181717; 
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
//   font-family: 'Kanit', sans-serif;
  font-size: var(--f);
  
  background-color: var(--bg);
//   display: flex;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

p {
  flex: 1;
  line-height: .75;
  font-size: 20vmin;
  margin: auto;
  color: White;
  text-align: center;
  transform: scaleX(var(--scale, 1));
  animation: glitch-p 11s infinite alternate;
  
  &::before,
  &::after {
    --top: 0;        // offset from top [0 - 10]
    --left: 0;       // offset from left [0.001 - 1]
    --v-height: 30%; // visible part
    
    --n-tenth: calc(var(--f-size) * .1 * var(--top));
    --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
    --b-cut: calc(var(--t-cut) + var(--v-height));
    
    content: attr(data-text);
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    
    transform: translateX(calc(var(--left) * 100%));
    
    // this helps to get rid of pixelization
    filter: drop-shadow(0 0 transparent); 
    
    text-shadow: calc(var(--left) * -3em) 0 .02em rgb(24, 192, 24), 
                 calc(var(--left) * -6em) 0 .02em #ff00e1;
    
    background-color: var(--bg);
    clip-path: polygon(0% var(--t-cut), 100% var(--t-cut), 100% var(--b-cut), 0% var(--b-cut));
  } 
  
  &::before {
    animation: glitch-b 1.7s infinite alternate-reverse;
  }
  &::after {
    animation: glitch-a 3.1s infinite alternate;
  }
}

@keyframes glitch-p {
  17% { --scale: .87; }
  31% { --scale: 1.1; }
  37% { --scale: 1.3; }
  47% { --scale: .91; }
  87% { --scale: 1; }
}

@keyframes glitch-a {
  10%,30%,50%,70%,90% {
    --top: 0;
    --left: 0;
  }
  0% {
   --v-height: 15%; 
  }
  20% {
    --left: .005;
  }
  40% {
    --left: .01;
    --v-height: 20%;
    --top: 3;
  }
  60% {
    --left: .03;
    --v-height: 25%;
    --top: 6;
  }
  80% {
    --left: .07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: .083;
    --v-height: 30%;
    --top: 1;
  }
}

@keyframes glitch-b {
    10%,30%,50%,70%,90% {
    --top: 0;
    --left: 0;
  }
  0% {
   --v-height: 15%; 
   --top: 10;
  }
  20% {
    --left: -.005;
  }
  40% {
    --left: -.01;
    --v-height: 17%;
    --top: 3;
  }
  60% {
    --left: -.03;
    --v-height: 35%;
    --top: 6;
  }
  80% {
    --left: -.07;
    --v-height: 5%;
    --top: 8;
  }
  100% {
    --left: -.083;
    --v-height: 30%;
    --top: 1;
  }
}