body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#left {
  position: absolute;
  left: 10%;
  width: 30%;
  height: 15%;
  font-size: xx-large;
  background-color: black;
}

#right {
  position: absolute;
  right: 10%;
  width: 30%;
  height: 15%;
  font-size: xx-large;
  background-color: black;
}

#submit {
  position: absolute;
  bottom: 50px;
  left: 40%;
  width: 20%;
  height: 8%;
  font-size: xx-large;
}