body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#left {
  position: absolute;
  left: 10%;
  width: 30%;
  height: 15%;
  font-size: xx-large;
  background-color: black;
}

#right {
  position: absolute;
  right: 10%;
  width: 30%;
  height: 15%;
  font-size: xx-large;
  background-color: black;
}

#prompt {
  position: absolute;
  top: 10%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  left: 0;
  right: 0;
  text-align: center;
  font-size: 8vw;
}

.choice {
  width: 150px;
  height: 60px;
}